.blogPost {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2rem;
  color: rgb(106, 16, 94);
  margin-bottom: 10px;
}

.date {
  color: rgb(120, 120, 120);
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.description {
  line-height: 1.6;
  font-size: 1.1rem;
}

.comment {
  margin: 20px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.comment h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(106, 16, 94);
}

.comment p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(34, 34, 34);
}

.comment span {
  font-size: 0.9rem;
  color: rgb(120, 120, 120);
}





  