.main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pageTitle {
    color: rgb(197, 67, 128);
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    max-width: 650px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .projectDetails {
    text-align: center;
  }
  
  .projectName {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(106, 16, 94);
    margin-bottom: 10px;
  }
  
  .projectDescription {
    font-size: 1rem;
    color: rgb(85, 85, 85);
    margin-bottom: 15px;
  }
  
  .learnMore {
    font-weight: bold;
    text-decoration: none;
    color: rgb(225, 105, 193);
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  
  .learnMore:hover {
    color: rgb(106, 16, 94);
    transition: color 0.3s ease;
  }